.uniform-carousel-container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

:host ::ng-deep .owl-stage {
    display: flex;
    align-items: center;
}

:host ::ng-deep .owl-item {
    display: flex;
    width: 100% !important;
    height: 500px;
}

:host ::ng-deep .owl-carousel {
    width: 100%;
}

:host ::ng-deep .owl-stage-outer {
    overflow: hidden;
}

:host ::ng-deep .owl-nav {
    /* Estilos para os botões de navegação */
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

/* Navigation buttons styles */
:host ::ng-deep .owl-prev,
:host ::ng-deep .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.7) !important;
    color: #333 !important;
    padding: 10px !important;
    border-radius: 50% !important;
    width: 40px;
    /* Tamanho fixo para os botões */
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px !important;
    transition: all 0.3s ease;
}

:host ::ng-deep .owl-prev {
    left: 0;
}

:host ::ng-deep .owl-next {
    right: 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    /* Compensate for excess margin on outer gallery flex items */
    margin: -1rem -1rem;
}

@supports (display: grid) {
    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
        grid-gap: 2rem;
    }
}