<div class="login-container">
    <mat-form-field>
        <mat-label for="login">Login</mat-label>
        <input matInput>
    </mat-form-field>
    <br>
    <mat-form-field>
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" />
        <button mat-icon-button matSuffix (click)="clickEvent($event)" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide()">
            <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
    </mat-form-field>
    <button type="submit"
        class="bg-black text-white font-montserrat py-2 px-8 font-medium rounded-xl hover:bg-gray-700 transition-all duration-300">Sign-in
    </button>
    <a (click)="openModel()">
        Doesn't have an account? Sign-up
    </a>
</div>



<app-model [isOpen]="isModelOpen" (closeModel)="closeModel()">
    <app-user-form (onCloseModel)="closeModel()"></app-user-form>
</app-model>